body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial;
    background-color: lightblue;
}

.header-container {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif, Arial;
}

.left-container {
    display: flex;
    align-items: center;
}

.logo-fixed {
    margin: 10px;
    margin-left: 20px;
    width: 200px;
    height: 50px;
}
.button-group-left {
    display: flex;
    gap: 10px;
}

.button-group-right {
    display: flex;
    gap: 10px;
}

.dashboard {
    width: 100px;
    height: 40px;
    color: Black;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif, Arial;
}

.profile, .logout, .practice {
    width: 100px;
    height: 40px;
    color: black;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif, Arial;
}

.logout {
    margin-right: 20px; 
}
.logout-icon {
    width: 30px;
    height: 30px;
}

.body-container {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px; 
    margin-left: 200px;
    margin-right: 200px;
}

.body-left {
    flex: 1; 
    border-radius: 10px;
    margin-right: 10px; 
    margin-left: 10px;
    background-color: lightgray;
    overflow-y: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 10px; 
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 50px;
    box-sizing: border-box;
}

.search-input {
    flex: 1;
    border: none;
    outline: none; 
    margin-left: 10px; 
}

.body-right {
    flex: 1; 
    margin-left: 10px; 
    margin-right: 10px;
    border-radius: 10px;
    background-color: lightgray;
    overflow-y: auto;
}

.body-button-group {
    display: flex; 
    gap: 10px; 
    margin: 10px;
}

.news, .graph {
    width: 100px;
    height: 40px;
    color: black;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif, Arial;
}