html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.register-container {
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 100%;
}

.stock-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-side {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-icon {
  height: 100px;
  width: 400px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  background: #c0c0c0;
  padding: 30px;
}

.header {
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
}

.text {
  color: black;
  font-size: 48px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: black;
  border-radius: 9px;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #eaeaea;
  border-radius: 6px;
}

.input img {
  margin: 0px 30px;
}

.input input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot-password {
  color: #797979;
  font-size: 19px;
  text-align: left;
  cursor: pointer;
}

.submit-container {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: black;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background: #eaeaea;
  color: #797979;
}

.login-account {
  text-align: center;
  color: #797979;
  font-size: 19px;
  margin-top: 20px;
}

.login-account span {
  color: black;
  cursor: pointer;
}
